// NRvisuals Design Toolkit

// Palette color codes */

$green: #609732;	// Main Primary color */
$green-light: #BAE397; // background color
$green-light-alt: #8ABD5F; // highlighted colors
$green-bold-alt: #3E7213; 
$green-bold: #224C00;

$red: #983351;	// Main Complement color */
$red-light: #E498AF;
$red-light-alt: #BE5F7C;
$red-bold-alt: #721330;
$red-bold: #4C0017;


